/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background: rgba(0,0,0,.15);
}

h1{
  text-align: center;
  border: 2px solid rgb(255, 194, 10);
  border-radius: 5px;
  width: 50%;
  background: black;
  color: rgb(255, 194, 10);
  font-family: sans-serif;
  font-size: 2.5em;
}

.h1Div{
  height: 100px;
}

main{
  display: flex;
  justify-content: space-evenly;
}

.lDiv{
  display: flex;
  flex-wrap: wrap;
  background: black;
  width: 30%;
  max-width: 600px;
  height: 25em;
  border: 2px solid white;
  border-radius: 30px;
}

.rDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 30px;
  height: 25em;
  width: 30%
}

section{
display: flex;
flex-direction: column;
justify-content: center;
height: 6em;
width: 28%;

border-radius: 30px;
background: gray;
}

.odd > span{
  color: rgb(255, 194, 10);
  text-align: center;
  font-family: sans-serif;
}

.even > span{
  color: rgb(220, 50, 32);
  text-align: center;
  font-family: sans-serif;
}

span{
  font-size: 3em;
  color: white;
  top: 50%;
  left: 50%;
}

button{
  height: 3em;
  width: 100%;
  margin: 8% 0 0 0;
  color: white;
  font-size: 1.5em;
  background: gray;
  border-radius: 30px;
}

.vertCenter{
  border: 2px solid black;
  border-radius: 30px;
  width: 100%;
  height: 2em;
  text-align: center;
}

.vertCenter{
  height: 20%;
  width: 100;
  display: flex;
  margin: 8% 0 2% 0;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.vertCenter p{
  font-size: 1.5em;
}
.hidden{
  visibility: hidden;
}
/******************************************
Flexbox styles

flex-direction: row
flex-direction: row-reverse
flex-direction: column
flex-direction: column-reverse
justify-content: flex-start
justify-content: flex-end
justify-content: center
justify-content: space-between
justify-content: space-around
justify-content: space-evenly
align-items: flex-start
align-items: flex-end
align-items: center
align-items: stretch
align-items: baseline ** is this? 
align-content: flex-start
align-content: flex-end 
align-content: center
align-content: stretch
align-content: space-between
align-content: space-around
gap: 
row-gap: 
column-gap:
order:








/*******************************************/

